@import "../../../../variables.scss";


.my-drop-zone {
  //border: dotted 3px lightgray;

}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }


app-transactions {
  width: 100%;

  .col-amount{
    float: right;
    min-width: 70px;
  }

  .container-timeline ul {
    margin: 0;
    list-style: none;
    position: relative;
    padding: 0px;
    color: #000;
  }
  .container-timeline ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed  #DDDDDD;
    left: 10px;
  }
  .container-timeline ul li {
    position: relative;
    margin-left: 30px;
  }

  .container-timeline ul li:hover {
    cursor: pointer;
  }
  .container-timeline ul li > span {
    width: 2px;
    height: 100%;
    left: -20px;
    top: 0;
    position: absolute;
    padding-top: 5px;
  }
  .container-timeline ul li > span.realized {
    background: #DDDDDD;
  }
  /* Timeline circle */
  .container-timeline ul li > span.circle:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    background: #fff;
    left: -5px;
    top: 0;
  }
  .container-timeline ul li > span.income:before {
    border: 2px solid $income-color;
  }
  .container-timeline ul li > span.income-realized:before {
    border: 2px solid $income-color;
    background: $income-color;
  }
  .container-timeline ul li > span.outcome:before {
    border: 2px solid $outcome-color;
  }
  .container-timeline ul li > span.outcome-realized:before {
    border: 2px solid $outcome-color;
    background: $outcome-color;
  }
  .container-timeline ul li span:after {
    top: 100%;
  }
  .container-timeline ul li > div {
    margin-left: 10px;
    padding-bottom: 20px;
  }
  //.container-timeline div > div {
  //  margin-top: 5px;
  //}
  .container-timeline span.number {
    height: 100%;
  }
  .container-timeline span.number span {
    position: absolute;
    font-size: 10px;
    left: -20px;
    font-weight: bold;
  }
  .container-timeline span.number span:first-child {
    top: 0;
  }

}
