<app-header [showBackButton]="homeService.showBackButton$"  ></app-header>
<section style="padding-top: 60px;">

      <router-outlet></router-outlet>
  <!--<div class="container">-->

  <!--<div class="layout">-->
  <!--<div  class="col col-main" role="main">-->
  <!--<h1>Personal Finances App for minimalists</h1>-->
  <!--<p>-->
  <!--home works?-->
  <!--{{authService.loggedInUser.uid | async}}-->
  <!--{{authService.isAuthenticated()}}-->
  <!--</p>-->
  <!--<a (click)="doSignOut()">Sign out</a>-->
  <!--</div>-->

  <!--<p class="col col-complementary" role="complementary">-->
  <!--<img src="assets/img/piggy.png" >-->
  <!--</p>-->

  <!--</div>-->
  <!--</div>-->

</section>

